body.dark-mode {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container.dark-mode {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-dark-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}
